<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author_name %>
    <%= f.text_field :author_name %>
  </div>

  <div class="field">
    <%= f.label :released_date %>
    <%= f.datetime_select :released_date %>
  </div>

  <div class="field">
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, options_for_select([["Available"], ["Borrowed Out"]])%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
