<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name" %>
    <%= f.text_field :borrower_name  %>
  </div>

  <div class="field">
    <%= f.label "Book" %>
    <%= f.collection_select :borrower_book, Book.all, :id, :title, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label "From" %>
    <%= f.datetime_select :borrower_date %>
  </div>

  <div class="field">
    <%= f.label "Until" %>
    <%= f.datetime_select :borrower_date_return %>
  </div>

  <div class="actions">
    <%= f.submit "Borrow" %>
  </div>
<% end %>
