<p id="notice"><%= notice %></p>

<p>
  <strong>Borrower name:</strong>
  <%= @transaction.borrower_name %>
</p>

<p>
  <strong>Borrower book:</strong>
  <%= @transaction.borrower_book %>
</p>

<p>
  <strong>Borrower date:</strong>
  <%= @transaction.borrower_date %>
</p>

<p>
  <strong>Borrower date return:</strong>
  <%= @transaction.borrower_date_return %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
